body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    color: #d65d0e;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 10rem;
}
